[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
tox-pipenv = "*"
black = "20.8b1"

[packages]
cryptography = "*"
hbmqtt = "*"
jinja2 = "*"
aiofiles = "*"
