[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
tox-pipenv = "*"

[packages]
cryptography = "*"
hbmqtt = "*"
pyyaml = "*"
responder = "*"
