[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
tox-pipenv = "*"
black = "20.8b1"
tox = "*"

[packages]
cryptography = "*"
hbmqtt = {editable = false, git = "git+https://github.com/feedernet/hbmqtt"}
jinja2 = "*"
aiofiles = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
databases = "*"
aiosqlite = "*"
typing-extensions = "*"
pytz = "*"

[pipenv]
allow_prereleases = true
