body {
  margin: 0;
  padding-top: env(safe-area-inset-top);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.ios-app-nav {
  padding-top: 10px !important;
  /* Status bar height on iOS 11.0 */
  padding-top: calc(constant(safe-area-inset-top)) !important;
  /* Status bar height on iOS 11+ */
  padding-top: calc(env(safe-area-inset-top)) !important;
}

.pet-avatar-text {
  margin-bottom: 0.25rem !important;
  margin-top: 0.25rem !important;
}

.pet-avatar-text-selected {
  margin-bottom: 0.25rem !important;
  margin-top: 0.25rem !important;
  font-weight: 700 !important;
}

.pet-avatar-text:hover {
  font-weight: 700 !important;
}

.pet-avatar-container:hover {
  box-shadow: 0 0 0 4px #28AFB0 !important;
}