name: Docker Build

on:
  push:
    branches: master
    tags:
      # For "vX.Y.Z" tags (e.g., refs/tags/v1.0.0)
      - v*
    paths-ignore:
      - 'images/**'
      - 'sample/**'
      - 'tests/**'
      - '**.md'
  pull_request:
    branches: master
    paths-ignore:
      - 'images/**'
      - 'sample/**'
      - 'tests/**'
      - '**.md'
  release:
    types: [ published ]

  # Allows you to run workflow manually from Actions
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - id: prep
        name: Set up tag name
        if: "startsWith(github.ref, 'refs/tags/v')"
        run: |
          echo ::set-output name=tag::${GITHUB_REF#refs/tags/v}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push latest
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/feedernet/petnet-feeder-service:${{ steps.prep.outputs.tag || 'latest' }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Build and push ARMv7
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/feedernet/petnet-feeder-service:${{ steps.prep.outputs.tag || 'latest' }}-arm7, ghcr.io/feedernet/petnet-feeder-service:${{ steps.prep.outputs.tag || 'latest' }}-pib2
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Build and push ARMv6
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/arm/v6
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/feedernet/petnet-feeder-service:${{ steps.prep.outputs.tag || 'latest' }}-arm6, ghcr.io/feedernet/petnet-feeder-service:${{ steps.prep.outputs.tag || 'latest' }}-pizero
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
